.super-mario {
  width: 150px;
  position: absolute;
}

.goomba {
  width: 150px;
  position: absolute;
  top: 300px;
}

.baloon {
  width: 150px;
  position: absolute;
  left: 260px;
  top: 200px;
  z-index: 2
}

.speach {
  left: 270px;
  position: absolute;
  top: 220px;
  font-size: 13px;
  z-index: 3
}

.bowser {
  width: 200px;
  position: absolute;
  top: 300px;
  left: 300px;
  z-index: 1;

}