div :hover {
    border: solid blue 5px
}

div:nth-of-type(1) {
    background: red;
}

div:nth-of-type(2) {
    background: green;
}

div:nth-of-type(3) {
    background: plum
}

div:nth-of-type(4) {
    background: blue;
}

div:nth-of-type(5) {
    background: aquamarine;
}

div:nth-of-type(1)>h3 {
    color: blue;
}

div:nth-of-type(2)>h3 {
    color: orange;
}

div:nth-of-type(3)>h3 {
    color: red;
}

div:nth-of-type(4)>h3 {
    color: black;
}

div:nth-of-type(5)>h3 {
    color: palevioletred;
}

div:nth-of-type(3) {
    height: 100px
}

div:nth-child(odd) h3 {
    font-style: italic
}